/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import "variables";

@import "mixins";

@import "typography";

@import "buttons";

@import "common";

@import "templates/navigation";

@import "templates/slider";

@import "templates/homepage";

@import "templates/otherspage";

table {
  width: 100%;
  thead {
    border-bottom: 1px solid;
  }
  tr,
  td {
    text-align: center;
    padding: 2px;
  }
}
